body{
  align-items: center;
  background-color: #f2f2f2;
  box-sizing: border-box;
  display: flex;
  margin: 0;
  min-height: 100vh;
  justify-content: center;
  padding: 20px;
}

h2{
  color: #f2f2f2;
  font-family: 'Big Shoulders Display', cursive;
}

p{
  color: white;
  color: hsla(0, 0%, 100%, 0.75);
  font-family: 'Lexend Deca', sans-serif;
  font-size: 13px;
  line-height: 1.5;
  padding-bottom: 60px;
  padding-right: 20px;
}

.btn_1 {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color:  #e38826;
  font-size: 14px;
  background: #f2f2f2;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: 0;
  position: absolute;
  bottom: 20px;

}

.btn_1:hover {
  text-decoration: none;
}

.btn_2 {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #006970;
  font-size: 14px;
  background: #f2f2f2;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: 0;
  position: absolute;
  bottom: 20px;
}

.btn_2:hover {
  text-decoration: none;
}

.btn_3 {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #004241;
  font-size: 14px;
  background: #f2f2f2;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: 0;
  position: absolute;
  bottom: 20px;

}

.btn_3:hover {
  text-decoration: none;
}



.main_container{
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  max-width: 800px;
  overflow: hidden;
}

.section_1{
  background-color: #e38826;
  padding: 40px 15px 40px 40px;
  flex: 1;
  position:relative;
}

.section_2{
  background-color: #006970;
  padding: 40px 15px 40px 40px;
  flex: 1;
  position:relative;
}

.section_3{
  background-color: #004241;
  padding: 40px 15px 40px 40px;
  flex: 1;
  position:relative;
}


@media only screen and (max-width: 600px) {
  .main_container{
    flex-direction: column;
  }
}
